html, body {
    background-color: #596E66;
}

.ui.menu {
    border-radius: 0px !important;
    margin: 0;
}

.ui.segment {
    /*padding: unset;*/
    /*min-width: 400px;*/
}

#headerImageDiv {
    width: auto;
    height: 15%;
    min-height: 100px;
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

#headerText {
    color: white;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titleText {
    padding: 20px;
}

#indexTitle {
    color: white;
}

#profileImage {
    min-height: 100px;
    min-width: 100px;
}

#profileHeader {
    float: left;
}

#addProjectBtn {
    position:fixed;
    right:20px;
    bottom:20px;
}

#publishedIcon {
    
    padding: 20px;
    margin-right: 1em;

}

#indexGrid {
    background-color: #596E66;
    margin: 10px 20px;
}


#loginSegment {
    max-width: 450px;
    margin-top: 50px;
}

#loginForm {
    padding: 20px;
}

.ui.checkbox {
    padding-bottom: 2em;
}

.extraImage {
    max-height: 100%;
    max-width: 100%;
}

#profileImage {
    padding: 1em 1em 0;
}

#aboutSegment {
    min-height: 200px;
}