<% include ../partials/header %>

    <div class="ui container segment">
        <div>
            <h1 id="titleText" class="ui huge header"><%=about.title%></h1>
        </div> 
        <div id="aboutSegment" class="ui segment">
            <img id="profileImage" class="ui small left floated image" src="/assets/images/profileImages/<%=about.profileImageName%>">
            <p>
                <%=about.text%>
            </p>
        </div>
        
         <% if (currentUser) { %>
            <div class="ui divider"></div>  
            <div>
                <a class="ui fluid large olive button" href="/about/edit">Edit</a>
            </div>
        <% } %>
        
    </div>
    
 
    
<% include ../partials/footer %>